<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://use.fontawesome.com/aa44fe679c.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic|Rubik" rel="stylesheet">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/pubs">Publications</a></li>
				<li><a href="/code">Code</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/updates">Updates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jgronsbell@fas.harvard.edu">jgronsbell@fas.harvard.edu</a></li>
	        		<!-- <li><a href="https://github.com/jgrons">github.com/jgrons</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
