<!DOCTYPE html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
			
<header>
				<center>
	    	
	        		<h1 style="font-family: palatino">  Jesse Gronsbell </h>
	        		<!-- <li><a href="https://github.com/jgrons">github.com/jgrons</a></li> -->
				</center>
					
			</header>
		<body>

			<nav>
			<center>
	    		<ul>
	        		<li style="font-size:22px; font-family: palatino"><a href="/"> About Me </a></li>
				<li style="font-size:22px; font-family: palatino"><a href="/research">Research</a></li>
				<li style="font-size:22px; font-family: palatino"><a href="/teaching">Teaching</a></li>
				<li style="font-size:22px; font-family: palatino"><a href="/cv">CV</a></li>
	    		</ul>
				</center>		
			</nav>
			
			 <hr >
			
			<div class="container">
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li style="font-size:16px; font-family: palatino"><a href="mailto:jgronsbell@google.com">jgronsbell@google.com</a></li>
	        		<!-- <li><a href="https://github.com/jgrons">github.com/jgrons</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
