<!DOCTYPE html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
			<header>
	    		<ul>
	        		<li style="font-size:20px; font-family: palatino"> Jesse Gronsbell </li>
	        		<!-- <li><a href="https://github.com/jgrons">github.com/jgrons</a></li> -->
				</ul>
			</header>

		<body>


			<nav>
	    		<ul>
	        		<li style="font-size:18px; font-family: palatino"><a href="/">Home</a></li>
				<li style="font-size:18px; font-family: palatino"><a href="/research">Research</a></li>
				<li style="font-size:18px; font-family: palatino"><a href="/teaching">Teaching</a></li>
				<li style="font-size:18px; font-family: palatino"><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li style="font-size:16px; font-family: palatino"><a href="mailto:jgronsbell@google.com">jgronsbell@google.com</a></li>
	        		<!-- <li><a href="https://github.com/jgrons">github.com/jgrons</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
